<template name="huntItem">
  <div class="post">
    <div class="post-content">
      <h3><a href="{{huntPagePath this}}">{{name}}</a></h3>
      <p>{{details}}</p>
      <p>
        <strong>Point value: </strong>{{points}}<br />
        <strong>Date start: </strong>{{datestart}}<br />
        <strong>Date end: </strong>{{dateend}}<br />
        <strong>Status: </strong>{{status}}<br />
        <strong>Minimum age: </strong>{{age_min}}<br />
        <strong>Maximum age: </strong>{{age_max}}
      </p>
        {{#if ownHunt}}<p><a href="{{huntEditPath this}}">Edit Hunt</a></p>{{/if}}
      
    </div>
  </div>
</template>

<!--
      id                  int             primary_key
  public    name                string          Hunt Name             Just the marketable name of the hunt
  public    details             string          Hunt Description      When does hunt begin? End? What is unique about it?
    profile_media_id    int             Profile Image         Lookup in media collection
  public    points              int             Hunt Point Value      How many points in overall standing is this hunt worth? (OPTIONAL; Default is 1; should Default be 5?)
    leaderid            int             Hunt Moderator        Lookup in user collection; Who started this Hunt?
  public    datestart           datetime        Hunt Start Date       When should this hunt automatically begin? (defaults to NOW)
  public    dateend             datetime        Hunt End Date         When should this hunt automatically end? (optional)
    tofind_ids          array of int    Hunt Finds            Lookup in tofinds collection; What tofinds are part of this hunt?
    team_ids            array of int    Hunt Teams            Lookup in teams collection; What teams have signed up for this hunt?
  public    status              string          Hunt Status           Draft; Scheduled; Ongoing; Judging; Completed; any other status
    dateadded           datetime        Submission Date       When was this find added to the hunt?
  public    age_min             int             Minimum Age           Minimum age of users allowed to join
  public    age_max             int             Maximum Age           Maximum age of users allowed to join
-->